a{
    padding: 0.6%;
    background-color: cornflowerblue;
    color:black;
    border:5px solid black;
    border-radius: 10px;
    text-decoration: none;
    font-size: x-large;
}
a:hover{
    padding: 0.6%;
    background-color: Red;
    color:White;
    border:5px solid white;
    border-radius: 10px;
    text-decoration: none;
}
body{
    background-color: black;
    color:white;
}
.big{
    font-size: x-large;
}